body
{
  margin:0;
  background: url("") no-repeat;
  background-color: #C8F2EF;
  /* background: linear-gradient(120deg,#2980b9,#8e44ad); */
}
table
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  margin-top:20px
}
td
{
  padding-bottom: 10px;
}
input
{
  border-radius: 8px;
  height:20px;
  border-color:inherit;
}
input:hover
{
  cursor: pointer;
}
.col-2
{
  margin-left:60px;
}
.col-2 > input
{
  font-weight: bold;
  height: 30px;
  width:6em;
  border-color:inherit;
}
.col-2 > input:hover
{
  background: lightblue;
}
#box
{
    text-align: center;
    margin-left: 40%;
    margin-top:20px;
    /* border:2px solid ; */
    width:25%;
}
#h1
{
  font-family: serif;
  /* font-style: italic; */
}
#para
{
  font-family: serif;
  /* font-weight: bold; */
  font-size:1.1em;
}
#pt
{
  font-family: serif;
  /* font-weight: bold; */
  font-size: 1.1em;
}
.lbtn
{
  margin-left:710px;
  margin-top:30px
}
.lbtn > button
{
  font-weight: bold;
  height: 30px;
  border-radius: 8px;
  width:6em;
  border-color:inherit;
}
.lbtn > button:hover
{
  background: lightblue;
  cursor: pointer;
}
button
{
  margin-right:10px;
}

/* }
.main
{
  border:3px solid blue;
}
.row
{
  border:3px solid red;
} */
